.footer{
    width: 100vw;
    background-color: #0652DD;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 15%;    
    position: fixed;
    bottom: 0;
}
.footer>p{
    margin: 0 0 10px 10px;
    font-family: "Poppins", san-sarif;
    font-weight: 700;
    font-size: 1rem;
    color: white;
}
.audiofile{
    width: 40%;
    height: 40px;
}

@media screen and (max-width: 680px) {
        .audiofile{
            width: 90%;
            
        }
}